table {
	border-spacing: 0;
}

table td,table th {
	padding: 5px;
}
/* #divLangSelect {
 position:absolute;
 display:none;
 background-color:#FFCC00;
 border:solid 2px #d0d0d0;
 width:600px;
 height:600px;
 padding:10px;
} */